html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 17px;
    line-height: 24px;
    color: #333;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.btn {
    background: linear-gradient(360deg, #f6d30c 0, #ffe937 100%);
    box-shadow: 0 4px 0 0 #e7ae01;
    border-radius: 10px;
    border-width: 0;
    width: 150px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer
}

.btn:hover {
    background: linear-gradient(180deg, #f6d30c 0, #ffe937 100%)
}

.btn__one {
    background:#0188cc;
    border-radius: 10px;
    border-width: 0;
    width: 150px;
    height: 45px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer
}

.btn__one:hover {
    background: linear-gradient(180deg, #0188cc 0, #69b9e1 100%)
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header__text{
    font-size: 19px;
}

.header__contacts {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header__tel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 15px;
}

.img__tel {
    margin-right: 10px;
}

.phone {
    font-size: 28px;
    color: #003955;
    font-weight: bold;
}

.vk {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.soc__img-vk {
    margin-left: 15px;
}

.nav__container {
    background: #3f4955;
    padding: 6px 0;
    width: 100%;
}

.nav__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav__menu-top {
    color: #fff;
    font-weight: 600;
}

.first__block-container {
    background: url('../images/first-block-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 65px 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.block__advertisement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block__text-one {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .8);
    width: 670px;
    height: 350px;
    padding: 30px;
    text-align: center;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
}

.advertisement__title {
    font-size: 50px;
    color: #0188cc;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 15px;
}

.advertisement__text {
    font-size: 32px;
    font-weight: bold;
    color: #14303e;
    line-height: 1;
    margin-bottom: 30px;
}

.advertisement__text-redbac {
    font-size: 32px;
    color: #fff;
    background: url('../images/akcii.png') no-repeat center center;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px;
}

.advertisement__text-red {
    color: #c00;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
}

.calculate {
    border-radius: 10px;
    background-color: #2d343c;
    box-shadow: 0 0 11.68px 4.32px rgb(0 0 1 / 5%);
    width: 365px;
    height: 385px;
    color: #fff;
}

.calculate__title {
    padding: 22px 31px 15px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}

.calculate__body {
    padding: 22px 30px;
    justify-self: flex-end;
}

.calculater {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
}

.calculate__text {
    text-align: center;
    padding-bottom: 15px;
}

main .first__block .calculate .calculate__body form div input {
    border-width: 1px;
    border-color: #d1d1d1;
    border-style: solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    height: 41px;
    font-size: 20px;
    color: #033;
    text-align: center;
}

main .first__block .calculate .calculate__body form div label {
    font-size: 18px;
}

main .first__block .calculate .calculate__body form div #square {
    width: 90px;
    margin-left: auto;
}

main .first__block .calculate .calculate__body form div #price {
    width: 90px;
    margin-left: auto;
}

main .first__block .calculate .calculate__body form div #phone {
    width: 167px;
    margin-left: auto;
    font-size: 16px;
    text-align: left;
    padding: 0 15px;
}

.characteristics {
    padding: 90px 15px;
}

.services {
    font-size: 36px;
    color: #003955;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.block__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block__item-items {
    display: flex;
    padding: 30px 10px;
}

.images__block {
    width: 65px;
    height: 65px;
    border-width: 2px;
    border-color: #e8e8e8;
    border-style: solid;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 31px;
    margin-top: 3px;
}

.desc {
    width: 250px;
}

.block__title {
    font-size: 23px;
    color: #003955;
    margin-bottom: 10px;
}

.block__text {
    font-weight: bold;
    font-size: 16px;
}

.third__block {
    background: #f3f2f2;
    padding-top: 90px;
    padding-bottom: 100px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.invoice__title {
    font-size: 36px;
    color: #003955;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.invoice__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.invoice__items {
    height: 515px;
    width: 370px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    margin: 10px;
}

.blu__cicus {
    margin: 0px 0 5px;
}

.blu__cicus-two {
    margin: 0px 0 20px;
}

.wrap {
    padding: 18px 32px 22px;
}

.wrap__title {
    font-size: 28px;
    color: #003955;
    text-align: center;
    margin-bottom: 10px;
}

.item__price {
    font-size: 24px;
    font-weight: bold;
    color: #0188cc;
    text-align: center;
    margin-bottom: 10px;
}

.wrap__icon {
    margin-right: 5px;
}

.fourth__block {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.technologies {
    padding-top: 90px;
    padding-bottom: 90px;
}

.technologies__title {
    font-size: 36px;
    color: #003955;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: center;
}

.technologies__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 40px;
}

.technologies__img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.technologies__text {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.zamer__block {
    background: url('../images/bg2.jpg') no-repeat center center;
    background-size: cover;
    padding: 44px 15px 32px;
}

.zamer__block-content {
    display: flex;
    color: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
}

.order__block {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    margin: 15px;
}

.order__title {
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.form__measurer {
    height: 300px;
    width: 370px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 11.68px 4.32px rgb(0 0 1 / 5%);
    padding: 15px 34px;
    text-align: center;
}

.measurer__title {
    font-size: 26px;
    color: #003955;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.measurer__text {
    font-size: 21px;
    color: #003955;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.measurer__title-bonus {
    background: url('../images/akcii2.png') no-repeat center center;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    width: 256px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
}

main .fifth__block .form__measurer form input {
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    height: 47px;
    padding: 0 16px;
    margin-bottom: 12px;
}

.carousel {
    margin-top: 100px;
    margin-bottom: 100px;
}

.carousel__container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.title__carousel {
    color: #003955;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;

}

.carousel__inner {
    margin: 0 -7px;
}

.carousel__item {
    margin: 0 7px;
}

.carousel__item-box {
    padding: 6px 6px 16px 6px;
    text-align: center;
    transition: all .5s;
}

.carousel__item-box:hover {
    color: #000;
    background-color: #FFD700;
    border-color: #FFD700;
}

.carousel__item-img {
    max-width: 100%;
    height: 285px;
    margin-bottom: 23px;
}

.carousel__item-title {
    margin-bottom: 5px;
}

.carousel .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

.carousel .slick-dots button {
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: #C4C4C4;
    width: 50px;
    height: 1px;
}

.carousel .slick-active button {
    background-color: #e7ae01;
    height: 3px;
}

main .ask {
    background: #e8e8e8;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.application {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.application__title {
    color: #003955;
    font-size: 36px;
    margin: 0px 0px 10px;
}

.application__title-text {
    font-size: 23px;
    color: #121313;
    margin: 0px 0px 10px;
}

.application__title-tel {
    font-size: 24px;
    color: #c00;
    font-weight: bold;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.ask .ask__blocks {
    width: 500px;
}

.ask .ask__blocks {
    margin-top: 15px
}

.ask .ask__blocks .item {
    width: 100%;
    text-align: left;
    border-radius: 3px;
    position: relative;
    margin-bottom: 13px;
    border: 2px solid #0188cc;
    margin: 15px;
}

.ask .ask__blocks .item h4 {
    height: 65px;
    color: #0188cc;
    font-size: 22px;
    padding: 0 24px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #FFD700;
    margin-bottom: 0;
    position: relative;
    cursor: pointer
}

.ask .ask__blocks .item h4:after {
    content: '+';
    font-size: 40px;
    position: absolute;
    right: 13px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    line-height: 34px;
    height: 32px;
}

.ask .ask__blocks .item h4.active:after {
    content: '–';
    font-size: 34px;
    line-height: 26px;
}

.ask .ask__blocks .item div {
    padding: 15px 24px;
    background: #fff;
    color: #000;
}

.reviews__container {
    padding-top: 85px;
    padding-bottom: 65px;
}

.reviews__title {
    font-size: 36px;
    color: #003955;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 130px;
}

.foto__review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.foto__review-one {
    text-align: center;
    border-width: 2px;
    border-color: #e8e8e8;
    border-style: solid;
    border-radius: 4px;
    background-color: #fff;
    width: 366px;
    padding: 20px 15px 80px;
}

.review__img {
    width: 170px;
    height: 187px;
    border-style: solid;
    border-width: 7px;
    border-color: #fff;
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 15px;
}

h5 {
    margin-bottom: 10px;
}

.review__text {
    color: #000;
    font-size: 16px;
    line-height: 22px;
}

.foto__review-two {
    text-align: center;
    border-width: 2px;
    border-color: #e8e8e8;
    border-style: solid;
    border-radius: 4px;
    background-color: #fff;
    width: 366px;
    padding: 20px 15px 80px;
}

.foto__review-three {
    text-align: center;
    border-width: 2px;
    border-color: #e8e8e8;
    border-style: solid;
    border-radius: 4px;
    background-color: #fff;
    width: 366px;
    padding: 20px 15px 80px;
}

.map__container {
    text-align: center;
    padding: 70px 0 65px;
    background: linear-gradient(90deg, #0188cc 0, #14b0ff 100%);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.map__title {
    font-size: 40px;
    line-height: 51px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.map__title-text {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #fff;
}

footer {
    background: #003955;
    padding: 35px 0;
    color: #fff;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer__text {
    text-align: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.link__tel {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fff;
}

.footer__img-tel {
    margin-right: 5px;
}

.link__mail {
    font-size: 18px;
    color: #fff;
}

.footer__img-mail {
    margin-right: 5px;
}

.up {
    border-radius: 4px;
    background-color: #b1afaf;
    opacity: .62;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    bottom: 50px;
    width: 55px;
    height: 55px;
    z-index: 1;
    transition: .3s ease
}

.up:hover {
    opacity: 1
}

@media (max-width: 1200px) {
    .phone {
        font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1200 - 320)));
    }
    .header__text{
        font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1200 - 320)));
    }
    .advertisement__title {
        font-size: calc(28px + (50 - 28) * ((100vw - 320px) / (1200 - 320)));
    }
    .advertisement__text {
        font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1200 - 320)));
    }
    .advertisement__text-redbac {
        font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1200 - 320)));
    }
    .advertisement__text-red {
        font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
    .services  {
        font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1200 - 320)));
    }
    .invoice__title {
        font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1200 - 320)));
    }
    .wrap__title {
        font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1200 - 320)));
    }
    .technologies__title {
        font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1200 - 320)));
    }
    .order__title {
        font-size: calc(24px + (50 - 24) * ((100vw - 320px) / (1200 - 320)));
    }
    .title__carousel {
        font-size: calc(28px + (36 - 28) * ((100vw - 320px) / (1200 - 320)));
    }
    .ask .ask__blocks .item h4 {
        font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1200 - 320)));
    }
    .application__title {
        font-size: calc(28px + (36 - 28) * ((100vw - 320px) / (1200 - 320)));
    }
    .application__title-text {
        font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1200 - 320)));
    }
    .reviews__title  {
        font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1200 - 320)));
    }
    .map__title {
        font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (1200 - 320)));
    }
    .map__title-text {
        font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1200 - 320)));
    }
}

@media (max-width: 780px) {
    .header__content {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .header__text {
        text-align: center;
    }
    .header__contacts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__tel {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-right: 10px;
    }
    .img__tel {
        margin-right: 10px;
        width: 10%;
    }
    .btn__one {
        background: #0188cc;
        border-radius: 10px;
        border-width: 0;
        width: 150px;
        height: 45px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 15px;
    }
    a {
        margin: 0;
        padding: 0;
        font-size: 80%;
        vertical-align: baseline;
        background: transparent;
    }
    .block__text-one {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .8);
        max-width: 670px;
        height: 350px;
        padding: 30px;
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .block__advertisement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
    .calculater {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    }
}

@media (max-width: 600px) {
    .carousel__item-img {
        width: 100%;
    }
    main .first__block .calculate {
        max-width: 369px;
        height: auto;
        width: 100%;
    }
}

@media (max-width: 520px) {
    .services__inner,
    .benefits,
    .carousel {
        margin-bottom: 50px;
    }
    .carousel .slick-dots button {
        width: 10px;
    }
    .first__block-container {
        background: url('../images/first-block-bg.jpg') no-repeat center center;
        background-size: cover;
        padding: 15px 10px;
        width: 100%;
    }
    .advertisement__title {
        color: #0188cc;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1;
        margin-bottom: 15px;
    }
    .advertisement__text {
        font-weight: bold;
        color: #14303e;
        line-height: 1;
        margin-bottom: 20px;
    }
    .advertisement__text-red {
        color: #c00;
        font-weight: bold;
        line-height: 21px;
    }
    .characteristics {
        padding: 31px 15px;
    }
    .block__item-items {
        display: flex;
        padding: 15px 10px;
    }
    .desc {
        width: 190px;
    }
    .block__item-items {
        display: flex;
        padding: 15px 10px;
    }
    .third__block {
        background: #f3f2f2;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .technologies {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .zamer__block {
        background: url('../images/bg2.jpg') no-repeat center center;
        background-size: cover;
        padding: 10px 10px 20px;
    }
    .zamer__block-content {
        display: flex;
        color: #fff;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .order__block {
        display: flex;
        flex-wrap: wrap;
        width: 444px;
        text-align: center;
        justify-content: center;
    }
    .form__measurer {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 11.68px 4.32px rgb(0 0 1 / 5%);
        padding: 15px 15px;
        text-align: center;
    }
    .carousel {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    main .ask {
        background: #e8e8e8;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    .ask .ask__blocks .item {
        width: 100%;
        text-align: left;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        border: 2px solid #0188cc;
        margin: 5px;
    }
    .reviews__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .foto__review-one {
        text-align: center;
        border-width: 2px;
        border-color: #e8e8e8;
        border-style: solid;
        border-radius: 4px;
        background-color: #fff;
        width: 290px;
        padding: 20px 15px 80px;
    }
    .foto__review-two {
        text-align: center;
        border-width: 2px;
        border-color: #e8e8e8;
        border-style: solid;
        border-radius: 4px;
        background-color: #fff;
        width: 290px;
        padding: 20px 15px 80px;
    }
    .foto__review-three {
        text-align: center;
        border-width: 2px;
        border-color: #e8e8e8;
        border-style: solid;
        border-radius: 4px;
        background-color: #fff;
        width: 290px;
        padding: 10px 15px 20px;
    }
    .map__container {
        text-align: center;
        padding: 30px 0 30px;
        background: linear-gradient(
    90deg, #0188cc 0, #14b0ff 100%);
    }
    .map__title {
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .map__title-text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
        color: #fff;
    }
}
